/Itcast_qa_system/rag_qa/models/
.env
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/workspace.xml
/Itcast_qa_system/rag_qa/core/output/
/Itcast_qa_system/rag_qa/core/bert_classification_output/
/Itcast_qa_system/rag_qa/core/bert_outputs/
/Itcast_qa_system/rag_qa/core/bert_query_classifier/
/Itcast_qa_system/rag_qa/core/bert_results/
